
<div class="row">
	<div class="span4">
		<h3>List <%= link_to "Add new item", new_item_path, class: "btn btn-success pull-right" %></h3>
		
		<table class="table table-bordered">
			<thead>				
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Done</th>
				</tr>
			</thead>
			<tbody>
				<% @current_list.each_with_index do |item, index| %>
				<tr>
					<td><%= index+1 %></td>
					<td><%= item.name %></td>
					<td><%= render partial: 'checkbox_form', locals: {item: item} %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="span4 offset2">
		<h3>Already bought</h3>
		<table class="table table-bordered">
			<thead>				
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Done</th>
				</tr>
			</thead>
			<tbody>
				<% @bought.each_with_index do |item, index| %>
				<tr>
					<td><%= index+1 %></td>
					<td><%= item.name %></td>
					<td><%= item.done %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>